.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: Onest;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: 44px;
	letter-spacing: 1.8px;
	text-align: center;
	color: var(--white-white, #fff);
}

.animated-text {
	font-size: 3rem;
	font-weight: bold;
	/* color: #338bc2; */
	display: flex;
}

.animated-text span {
	opacity: 0;
	animation: fadeIn 0.5s forwards;
}

.animated-text span:nth-child(1) {
	animation-delay: 0.1s;
}

.animated-text span:nth-child(2) {
	animation-delay: 0.2s;
}

.animated-text span:nth-child(3) {
	animation-delay: 0.3s;
}

.animated-text span:nth-child(4) {
	animation-delay: 0.4s;
}

.animated-text span:nth-child(5) {
	animation-delay: 0.5s;
}

.animated-text span:nth-child(6) {
	animation-delay: 0.6s;
}

.animated-text span:nth-child(7) {
	animation-delay: 0.7s;
}

.animated-text span:nth-child(8) {
	animation-delay: 0.8s;
}

.animated-text span:nth-child(9) {
	animation-delay: 0.9s;
}

.animated-text span:nth-child(10) {
	animation-delay: 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
