.weight-height-container {
	padding: 20px;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.weight-height-title {
	margin-top: 40px;
	color: var(--gray-800, #1e293b);
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
}

.weight-height-text {
	margin-bottom: 120px;
	color: var(--gray-500, #64748b);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.weight-height-options {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.weight-input-group {
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.weight-input-group label {
	margin-bottom: 10px;
	color: var(--gray-500, #64748b);
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.weight-input-group input {
	width: 100%;
	height: 10px;
	background: #ddd;
	border-radius: 5px;
	outline: none;
	transition: background 0.3s ease;
}

.weight-input-group input:hover {
	background: #bbb;
}

.weight-input-group input:focus {
	background: #007bff;
}

.slider-value {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	color: #333;
	margin-top: 8px;
}

.weight-height-buttons {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 30px;
}

.weight-height-buttons {
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.weight-height-buttons button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 191px;
	height: 56px;
	padding: 16px 24px;
	border-radius: 10px;
}

.weight-height-buttons button:nth-child(1) {
	background-color: transparent;
	font-size: 18px;
	color: #3b82f6;
	font-style: normal;
	font-weight: 600;
	line-height: 28px; /* 155.556% */
	border: 2px solid #60a5fa;
}

.weight-height-buttons button:nth-child(2) {
	background-color: transparent;
	font-size: 18px;
	color: #fff;
	font-style: normal;
	font-weight: 600;
	line-height: 28px; /* 155.556% */
	background: linear-gradient(90deg, #60a5fa -1.4%, #3b82f6 48.72%);
}

.weight-height-buttons button:hover {
	border-radius: 10px;
	background: var(--gray-300, #cbd5e1);
}
